@{
    ViewData["Title"] = "Details";
}

@section myScripts{
    <script src="" defer></script>
}
<div>
    <div class="header text-center">
        <h1>@ViewBag.deviceName Details</h1>
    </div>
    <div class="container">
        <div class="col-sm">
          
          <form action="/device/UpdateDevice">
          @Html.AntiForgeryToken()
          <label>Devicename: </label> <input name="deviceName" placeholder="@ViewBag.deviceName">
          <br/>
          <label>DeviceID: </label> <input readonly name="deviceID" value="@ViewBag.deviceID" placeholder="@ViewBag.deviceID">
          <br />
          <label>Device group: </label> 
          <select name="groupID" placeholder="@ViewBag.deviceGroup">
            @for (int i = 0; i < @ViewBag.groups.Count; i++)
            {
            <option>@ViewBag.groups[i].id</option>
            }
          </select>
          <br />
          <label>Device uuid: </label> <input readonly name="uuid" value="@ViewBag.deviceUUID" placeholder="@ViewBag.deviceUUID">
          <br />
          <label>Device aanmelding: </label> <input readonly name="date"  value="@ViewBag.deviceDate" placeholder="@ViewBag.deviceDate">
          <br />
          <button class="btn btn-success">Save</button>
        <br />
        <br />
        <br />
          </form>
            
        <a href="delete?deviceID=@ViewBag.deviceID">
          <button class="btn btn-danger">Delete</button>
        </a>
           <table>
            <tr>
                <th>Sensors</th>
            @for (int i = 0; i < ViewBag.deviceSensors.Count; i++)
            {
                <td>@ViewBag.deviceSensors[i]</td>
            }
            </tr>

            <tr>
                <th>Setup</th>
                <td><a href="/setup?id= @ViewBag.deviceId">Setup</a></td>
            </tr>

           </table>

        </div>

</div>
